/*
    You can add your own custom styles here.
*/

 .article-category a {
    background: #445d4c !important;
    color: #fff;
}

.article-list {
    gap: 25px;
}

.article-content {
    color: var(--accent-color);
}

.article-details .article-content img {
    max-width: 100%;
    height: auto;
}

// 引用块CSS
// 文件位置：~/assets/scss/custom/_custom.scss

blockquote.quote {
    position: relative;
    margin: 1.5em -10em 0 -10 ;
    padding-left: 18%;
    padding-right: 15%;
    border: none;
    background-color: transparent;;
    &::before {
        position: absolute;
        left: 7%;
        content: '“';
        color: var(--color-contrast-low);
        font-size: 3em;
        font-weight: bold;
        line-height: 1;
    }
    &.poetry {
        display: table;
        padding: 0;
        &::before {
            left: -1em;
        }
        p:last-child {
            margin: 0;
        }
    }
    &.en {
        p {
            line-height: 1.618;
            text-align: left;
            hyphens: auto;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
        }
    }
}
@media (max-width:650px) {
    blockquote.quote {
        &::before {
            position: absolute;
            left: 3.5%;          
        }
    }
}

@media (max-width:500px) {
    blockquote.quote {
        &::before {
            position: absolute;
            left: 3.5%; 
            top: 0.1%         
        }
    }
}

//修改选中颜色
::selection {
    color: #fff;
    background: #34495e;
}